// Colors
$dark: #556270;
$dark-d1: #3c454f;
$dark-d2: #2d343b;
$dark-d3: #161a1d;
$hoopla: #ff6b6b;
$hoopla-d1: #c44d58;
$hoopla-d2: #933a42;
$hoopla-d3: #62262c;
$turq: #4ecdc4;
$turq-d1: #3a9a93;
$green: #c7f464;
$green-d1: #b6df5d;
$green-d2: #9fc350;
$blue: #64c7f4;
$blue-d1: #2b95e1;
$white: #ffffff;
$black: #000000;

$light: #eef0f1;
$light-d1: #e6e8ea;
// Size Variables
$top-menu-height: 80px;