@import 'bourbon/bourbon';
@import 'grid-settings';
@import 'neat/neat';
@import 'variables';
@import 'fonts';
@import 'entypo';

html, body {
  @include box-sizing(border-box);
  @include media($mobile) { font-size: 100%; }
  @include media($tablet) { font-size: 100%; }
  @include media($desktop) { font-size: 100%; }
  padding: 0px;
  margin: 0px;
  background: none;
}
// Mobile popup
.mobile-site-chooser {
  width: 100vw;
  height: 100vh;
  background: $dark-d3;
  position: absolute;
  z-index: 1000;
      img {
      position: relative;
      margin-left: -35px;
      left: 50%;
      width: 70px;
    }
  @include outer-container;
  .mobile-content {
    padding: 40px;
    @include span-columns(12);
    @include white-font;
    text-align: center;
    a {
      color: $white;
      text-decoration: underline;
      font-size: 3em;
      display: block;
      background: #000;
      padding: 20px;
      margin: 10px;
    } 
    i {
      font-size:  50px;
      padding: 5px 0px;
      margin-bottom: 10px;
      border-radius: 5em;
      display: inline-block;
      color: $white;
      background: none;
    }
  }
}


// MENU BAR TOP
.top-menu-container {
  @include transition (background 0.2s ease-in-out);
  width: 100%;
  height: $top-menu-height;



  top: 0px;
  position: relative;
  z-index: 999;
  @include media($mobile) { background: none; }
  @include media($tablet) { background: none; }
  @include media($desktop) { background: none; }

  .top-menu-content {
    @include outer-container;
  }
}

.top-menu-right {
  @include media($mobile) { display: none; }
  @include media($tablet) { display: none; }
  @include media($desktop) { @include span-columns(10); }
}

.top-menu-brand {
  @include media($mobile) { display: none; }
  @include media($tablet) { display: none; }
  @include media($desktop) { @include span-columns(2); }
    
    .scroller-logo {
      display: none;
    }
    .stationary-logo {
      display: block;
    }

  a { 
    border: 0px;


    img { 
      border: 0px; 
      display: block;
      width: 90px;
      height: auto;
      margin: 0 auto;
      margin-top: 23px;
    }
  }
}

.top-menu-brand-mobile {
  @include media($mobile) { @include span-columns(2); @include shift(2);}
  @include media($tablet) { @include span-columns(2); @include shift(2);}
  @include media($desktop) { display: none; }
  text-align: center;
  a { border: 0px;
    img { border: 0px; height: 60px; width: auto; display: inline-block; margin-top: -10px;}
  }
}

// Main Navigation List
ul.menu {
  list-style: none;
  margin: 0px;
  padding: 0px;
  margin: 0 auto;
  float: right;
  li {
    display: inline-block;
    text-align: center;
    i {
      @include transition (all 0.2s ease-in-out);
      @include white-font;
      color: $dark-d3;
      display: block;
      position: absolute;
      left: 50%;
      margin-left:-14px;
      font-size: 19px;
      margin-top: -50px;
      opacity: 0;      
    }
    a {
      @include transition (all 0.1s ease-in-out);
      @include gill-book;
      @include white-font;
      color: #7f8993;
      color: $dark-d2;
      font-size: 0.9em;
      display: inline-block;
      padding: 30px 15px;
      position: relative;
      margin-left:-4px;
      background: none;
      text-decoration: none;
      text-transform: uppercase;
      &:hover {
        i {
          margin-top: -25px;
          opacity: 1;
        }
        color: $dark-d3;
        text-decoration: none;
        position: relative;
        z-index: 400;
        top: 10px;
        padding-bottom: 24px;   
      }
    }
    .user-login {
     
      color: $dark-d3;
    }  
  }
}

// Div

.sticky-padding {
  margin-top: 80px;
}


.top-link-circle {
  margin-top: 25px;
  margin-right: 20px;
  width: 30px;
  height: 30px;
  background: #aab1b8;
  float: right;
  line-height: 30px;
  border-radius: 20px;
  overflow: hidden;
  opacity: 0;
  position: relative;
  z-index: 900;
  @include transition (background 0.1s ease-in-out);
  &:hover {
    background: $dark;
  }
  &:active {
    background: $dark-d2;
  }
  a.top-link {
    color: $white;
    position: relative;
    font-size: 20px;
    padding: 40px 0px;
    &:hover {
    }
  }
}

// Sticky menu styles
.sticky {  
    position: fixed;  
    width: 100%;
    height: 75px;  
    left: 0;  
    z-index: 999;  
    border-top: 0;
    background: $white;
    border-bottom: 3px solid #eeeeee;
    .scroller-logo {
      display: block;
    }
    .stationary-logo {
      display: none;
    }
} 

// Link styles
a.muted {
  color: #8a8f95;
  @include avenir-light;
}


// Hero Unit Styles
.screenshots {
    @include media($mobile) { display: none;}
    @include media($tablet) { display: block;}
    @include media($desktop) { display: block;}
  text-align: center;
  margin-bottom: -4px;


  img {
    display: inline-block;
    width: 947px;
    width: 100%;
  }
}


.hero-container {
    @include media($mobile) { @include linear-gradient(#3c454f, $dark-d2); margin-top: -80px;}
    @include media($tablet) { background: url(../images/hero-concert-09.jpg) fixed no-repeat; background-size: cover; background-position:center; margin-top: -80px;}
    @include media($desktop) { background: url(../images/hero-concert-09.jpg) fixed no-repeat; background-size: cover; background-position:center; margin-top: -80px;}
  width: 100%;
  // background: $dark-d1;
  // @include linear-gradient(#3c454f, $dark-d2);
  // background: url("../images/concert13.png") fixed;
  background-size: cover; background-position:center; 



  .arrow-down {
    @include media($mobile) { display: none;}
    @include media($tablet) { display: none;}
    @include media($desktop) { display: block;}
  }

  .hero-content {
    @include media($tablet) { border-radius: 0px; }
    @include media($mobile) { border-radius: 0px; }
    @include media($desktop) { border-radius: 10px; }
    @include outer-container;
    // background: $white;
    padding: 0px 0px;
    padding-bottom: 0px;
      .hero-element {
      @include media($mobile) { padding: 120px 20px 30px 20px; @include white-font; color: $white;}
      @include media($tablet) { padding: 140px 20px 30px 20px;@include white-font; color: $dark-d3;}
      @include media($desktop) { padding: 180px 20px 40px 20px; @include white-font; color: $dark-d3;}    
      @include span-columns(12);
      text-align: center;
      position: relative;
      .hero-text {
        @include media($mobile) { text-align: center;}
        @include media($tablet) { text-align: center; }
        @include media($desktop) { text-align: center; } 
        max-width: 1000px;
        text-align: center;
        margin: 0 auto;
      }

      a.muted {
       color: $white;
       text-decoration: none;
       text-shadow: 0px 0px 10px rgba(0,0,0,0.4);
       &:hover {
        color: $dark-d3;
       }
      }

      h2 {
        // text-shadow: 0px 0px 20px #000;
        @include media($mobile) { font-size: 1.6em; color: $white;}
        @include media($tablet) { font-size: 2.8em; color: $dark-d2;}
        @include media($desktop) { font-size: 3.2em; color: $dark-d2;}
        margin-bottom: 10px;
        // text-shadow: 0px 0px 20px rgba(0,0,0,0.2);
        
      }

      p {
        @include media($mobile) { font-size: 1em; color: $white;}
        @include media($tablet) { font-size: 1.2em; color: $dark-d3;}
        @include media($desktop) { font-size: 1.2em; color: $dark-d3;}
        // text-shadow: 0px 0px 10px rgba(0,0,0,0.2);

      }
    }
  }
}

  .hero-triangle {
    position: relative;
    top: -2em;
    @include triangle(3em, $hoopla, down);
    margin-left: -1.5em;
    left: 50%
    // @include triangle(50px, #161a1d, down);
  }


.arrow-down {
    width: 100px;
    margin: 0 auto;
    display: block;
    position: relative;
    top: -50px;
}


.slides-container {
  background: none;
  @include media($mobile) { @include span-columns(6 of 6); padding: 20px; }
  @include media($tablet) { @include span-columns(8 of 12); padding: 20px; }
  @include media($desktop) { @include span-columns(8 of 12); padding: 0px; }
  
}

#slides {
  @include media($mobile) { height: 150px;}
  @include media($tablet) { height: 150px;}
  @include media($desktop) { height: 150px;}
  padding-top: 20px;
}

.single-quote {

  img {
    width: 10%;
    float: left;
   
  }
  p.quote {
    @include media($mobile) { font-size: 1em; width: 80%; padding: 0% 5%;}
    @include media($tablet) { font-size: 1.2em; width: 80%; padding: 0% 5%;}
    @include media($desktop) { font-size: 1.2em; width: 80%; padding: 0% 5%;}
    @include semi-font;
    display: inline-block;
    color: $dark-d3;
    float: left;
}

.quote-signoff {
  @include gill-book;
  color: #aaa;
  float: right;
}
}
.partners {
  @include media($mobile) { @include span-columns(6 of 6); padding: 20px; height: 200px;}
  @include media($tablet) { @include span-columns(4 pf 12); padding: 20px; height: 200px;}
  @include media($desktop) { @include span-columns(4 of 12); padding: 0px; height: 150px;}
  text-align: center;
  height: 150px;
  
  img {
    display: inline-block;
    width: 100%;
    padding-top: 20px;
  }
}

// Quotes Section Styles
.quotes-container {
  width: 100%;
  padding: 40px 0px;
  position: relative;
  z-index: 400;
  background: #eef0f1;
  background: $turq;
  background: $hoopla;
  background: #eee;
  // @include linear-gradient(#fff, #eee);
  background: $white;
  border-bottom: 3px solid #eee;
    h4 {
      text-align: left;
      @include semi-font;
     color: $dark;

      font-size: 0.6em;
      padding-bottom: 10px;
      border-bottom: 1px dotted #aab0b7;
  }

  // background: url(../images/bg-light-90.png) repeat;
    .headline {
      text-align: center;
      color: $turq;
      margin: 20px 20px 60px 20px;    
    }

  .quotes-content {
    border-top: 10px;
    @include outer-container;
    background: none;
    padding: 0px 10px;
   

  }
}

.quote-text-new {
  margin-top: -10px;
  padding: 20px;
  background: $turq;
}
.quotes-new {
  @include media($mobile) { @include span-columns(6); padding: 20px;}
  @include media($tablet) { @include span-columns(12); padding: 40px;}
  @include media($desktop) { @include span-columns(4); @include omega(4n); padding: 0px;}
  background: none;
  @include white-font;
  color: #1e4d49;
  img {
    @include media($mobile) { display: none; }
    @include media($tablet) { display: none; }
    @include media($desktop) { display: inline-block;}
  }
  h2 {
   
  }
  
  p.quote {
   
  }



}



// Functions Styles

.arrower {
      @include media($mobile) { display: none; }
      @include media($tablet) { display: block; }
      @include media($desktop) { display: block; }
  width: 100%;
  text-align: center;
  img {
    width: 250px;
    display: inline-block;
  }
}

i.mobile-icon {
      @include media($mobile) { display: inline; }
      @include media($tablet) { display: none; }
      @include media($desktop) { display: none; }
      text-align: center;
      padding-right: 10px;
}

.function-arrow-down {
  position: relative;
  z-index: 500;
  top: -155px;
  left: 50%;
  margin-left: -25px;
  @include triangle(50px, #eee, down);
}

.functions-container {
  width: 100%;
      @include media($mobile) { background: #fafafa;padding: 40px 10px; }
      @include media($tablet) { background: #fafafa; padding: 175px 20px;}
      @include media($desktop) { background: #fafafa; padding: 175px 0px;}
  overflow: hidden;
  @include dark-font;


  .functions-content {
    @include outer-container;
    background: none;


      .image-left {
        .function-image {
          float: left;

        }
        .function-text {
          float: left;
        }
      }

      .image-right {
        .function-image {
          float: right;
        }
        .function-text {
          float: right;
        }
      }






    .single-function {
      @include media($mobile) { background: #fff; @include semi-font; padding: 10px 10px 10px 10px; margin-bottom: 40px;}
      @include media($tablet) { background: #fff; @include semi-font; padding: 40px 0px; margin-bottom: 0px;}
      @include media($desktop) { background: #fff; @include semi-font; padding: 60px 30px; margin-bottom: 0px;}
      @include span-columns(10);
      @include shift(1);
      border: 3px solid #eee; 
      overflow: hidden;
     



      .function-text {
        @include media($mobile) {width: 100%; padding: 0px 0px;}
        @include media($tablet) {width: 50%; padding: 0px 20px;}
        @include media($desktop) {width: 50%; padding: 20px 20px;}   
        text-align: left;
       
       
        // @include span-columns(6 of 12);
        // @include media($mobile) { @include span-columns(6 of 6); padding: 0px 0px; text-align: left;}
        // @include media($tablet) { @include span-columns(6 of 12); padding: 0px 20px; text-align: left; }
        // @include media($desktop) { @include span-columns(6 of 12); padding: 0px 60px; text-align: left;}   
        

      


        h3 {
        @include media($mobile) { font-size: 1.2em; text-align: left; padding-top: 0px;}
        @include media($tablet) { font-size: 1.8em; text-align: left; padding-top: 0px;}
        @include media($desktop) { font-size: 1.6em; text-align: left; padding-top: 0px;}
        @include dark-font;
        text-transform: uppercase;   
        }
        p {
          @include semi-font;
        @include media($mobile) { font-size: 1em; }
        @include media($tablet) { font-size: 1.2em; }
        @include media($desktop) { font-size: 1.2em; }
          
        }
      }


      .function-image {
        @include media($mobile) {width: 100%;}
        @include media($tablet) {width: 50%;}
        @include media($desktop) {width: 50%;} 
        // @include media($mobile) { @include span-columns(6);   padding: 0px 10px; background: #aaa;}
        // @include media($tablet) { @include span-columns(6);  padding: 0px 20px; background: #aaa; }
        // @include media($desktop) { @include span-columns(6);  padding: 0px 20px; background: #aaa; }
        // // @include media($desktop) { @include span-columns(4);  padding: 0px 20px; background: url(../images/strip2.png) repeat;}  
   
       
        text-align: center;
        display: inline-block;
        
        
        img {
        display: inline-block;
         @include media($mobile) { width: 75%; }
         @include media($tablet) { width: 75%; }
         @include media($desktop) { width: 50%; }  
        }
      }
    }
  }
}


.function-01 {

}

.circle-image {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  background: url("../images/concert2.png");
  background-size: cover;
  margin: 25px;
  float: left;
  &:hover {
    background-size: cover;
  }
}

.circle-icon {
  width: 150px;
  height: 150px;
}



// About sections
.about-container {
  width: 100%;
  background: #fff;
  border-top: 3px solid #eee;
  @include semi-font;
  .about-content {
    padding-top: 100px;
    @include outer-container;
    background: none;
    .about-text {
        @include media($mobile) { @include span-columns(6); @include shift(0); padding: 0px 40px;}
        @include media($tablet) { @include span-columns(10); @include shift(1); padding: 0px 40px;}
        @include media($desktop) { @include span-columns(10); @include shift(1); padding: 0px;}
        h2 {
        @include media($mobile) {font-size: 1.6em;}
        @include media($tablet) {font-size: 2.4em;}
        @include media($desktop) {font-size: 2.8em;}
        @include dark-font;
        }

      p {
        font-size: 1.2em;
      }
      text-align: left;
    }
    .about-users {
        @include media($mobile) {  @include span-columns(6); @include shift(0);}
        @include media($tablet) {  @include span-columns(12); @include shift(0);}
        @include media($desktop) { @include span-columns(12); @include shift(0);}
      padding-top: 100px;
      padding-bottom: 150px;
      @include span-columns(8); @include shift(2);
      h2 {
        @include media($mobile) {font-size: 1.6em;}
        @include media($tablet) {font-size: 2.4em;}
        @include media($desktop) {font-size: 2.8em;}
        text-align: center;
        margin-bottom: 20px;
        @include dark-font;
      }

      p {
        font-size: 1em;
      }

      
      .user-image {
        @include media($mobile) { @include span-columns(3 of 6); @include omega(1n); padding: 10px;}
        @include media($tablet) { @include span-columns(4 of 12); @include omega(1n); padding: 10px;}
        @include media($desktop) { @include span-columns(4 of 12); @include omega(1n); padding: 10px;}
        text-align: center;
        height: 240px;
        @include semi-font;
        background: none;

        img {
          border-radius: 400px;
          width: 100%;
          max-width: 150px;
          height: auto;
          
        }
        h4 {
          text-transform: uppercase;
          font-size: 1em;
          @include dark-font;
        }
        p {
          font-size: 0.8em;
        }
      }
    }   
  }
}

// Price container
.price-arrow-down {
  position: relative;
  z-index: 300;
  top: -80px;
  left: 50%;
  margin-left: -25px;
  @include triangle(50px, #fff, down);
}


.price-container {
  width: 100%;
  background: $turq;
  padding: 100px 0px;
  padding-bottom: 100px;
  @include semi-font;
  .price-content {
    @include outer-container;
    background: none;

    .price-rip-top {
      @include media($mobile) { @include span-columns(4 of 6); @include shift(1); }
      @include media($tablet) { @include span-columns(8 of 12); @include shift(2); }
      @include media($desktop) { @include span-columns(6 of 12); @include shift(3); }

      margin-bottom: -4px;
      img {
        width: 100%;
      }
    }

    .price-rip-bottom {
      @include media($mobile) { @include span-columns(4 of 6); @include shift(1); }
      @include media($tablet) { @include span-columns(8 of 12); @include shift(2); }
      @include media($desktop) { @include span-columns(6 of 12); @include shift(3); }
      margin-top:-8px;
      img {
        width: 100%;
      }
    }



    .price-text {

      @include media($mobile) { @include span-columns(4 of 6); @include shift(1); padding: 20px 20px;}
      @include media($tablet) { @include span-columns(8 of 12); @include shift(2); padding: 40px 40px;}
      @include media($desktop) { @include span-columns(6 of 12); @include shift(3); padding: 80px 40px; }
      background: $white;
      
      h2 {
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px dotted #ccc;
      }
      h4 {
        margin-top:0px;
        padding-top: 0px;
        padding-bottom: 30px;
        margin-bottom: 10px;
        border-bottom: 1px dotted #ccc;
      }

      img {
        padding: 0px 40px;
        max-width: 300px;
        text-align: center;
        display: inline-block;
      }
    }
    .price-table {
      @include span-columns(6);
      @include shift(3);
      text-align: center; 
      img {
        max-width: 300px;
        display: inline-block;
      }
    }   
  }
}

// Footer container
.footer-container {
  width: 100%;
  background: $dark-d1;
  @include white-font;
  .footer-content {
    padding: 40px 0px 0px 0px;
    padding-bottom: 60px;
    @include outer-container;


    .footer-bottom {
        @include media($mobile) { @include span-columns(6);}
        @include media($tablet) { @include span-columns(12);}
        @include media($desktop) { @include span-columns(12);}
        text-align: center;
        padding: 30px 20px;
        p {
          font-size: 0.8em;
        }
    }

    .footer-element-container {
        @include media($mobile) { padding: 0px 20px;}
        @include media($tablet) { padding: 0px 40px;}
        @include media($desktop) { padding: 0px 60px;}
      


    .footer-element {
        @include media($mobile) { @include span-columns(3 ); @include omega(2n); text-align: left;}
        @include media($tablet) { @include span-columns(3 ); @include omega(4n); text-align: left;}
        @include media($desktop) { @include span-columns(3 ); @include omega(4n); text-align: left;}
        margin-bottom: 40px;



      h4 {
        padding-bottom: 10px;
        position: relative;
      }

      a {
        position: relative;
        
        @include gill-book;
        font-size: 0.8em;
        color: $white;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .blobber {
      overflow: hidden;
        margin-bottom: 0px;
        border-bottom: 1px dotted $dark;
        img {
          width: 100%;
        }
      }
    }
  }
}


.btn {
  @include media($mobile) { padding: 20px 20px;}
  @include media($tablet) { padding: 20px 40px;}
  @include media($desktop) { padding: 20px 40px;}
  margin: 2em 0em;
  padding: 20px 40px;

  background: #99da50;

  border-radius: 5px;
  border: 0px;
  box-shadow: none;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  @include avenir-med;
  @include dark-font;
  // text-shadow: 0px 0px 3px $hoopla-d3;

  color: $dark-d3;
  font-size: 1.2em;
  @include transition (all 0.1s ease-in-out);
  border: 3px solid #5b9732;
  box-shadow: 0px 0px 30px rgba(0,0,0,0.3);

  i {
    padding-right: 5px;
  }
  &:hover {
   

    border-color: #7ac943;
    background: #a8e357;
    cursor: pointer;


  }
}

// TESTS


.content-element {
 @include media($mobile) { @include span-columns(6); text-align: center; }
  @include media($tablet) { @include span-columns(8); text-align: center; }
  @include media($desktop) { @include span-columns(12); text-align: center; }
}




// Salgsportal


.sales-event-type-container, .diverse-container, .hoop-container {
  background: $dark-d1;
  float: left;
  padding-top: 20px;
  padding-bottom: 10px;
}

.diverse-container, .hoop-container {
  display: none;
  width: 100%;
  padding: 50px;
}

.sales-top-menu {
  ul {
    list-style: none;
    margin: 0px;
    padding: 0px;

    li {
      @include avenir-med;
      border-radius: 3px 3px 0px 0px; 
      display: inline-block;
      padding: 20px;
      background: $dark-d2;
      @include white-font;
      margin-right: -5px;
      &:hover {
        cursor: pointer;
        background: $dark-d1;
      }
    }
    .active {
      background: $dark-d1;
    }
  }
}


.sales-container {
  width: 100%;
  min-height: 100vh;
  background: $dark;
  float: left;

}

.sales-header {
  background: none;
  cursor: pointer;
  background: $dark;
  padding: 10px 0px;

  &:hover {
    background: $dark-d2;
  }

}

.sales-body {
  float: left;
  display: none;
  background: $white;
  padding: 20px 0px;
  width: 100%;
}

.sales-text {
  @include span-columns(12);
  @include omega(2n);
  padding: 20px;
  p {
    font-size: 2em;

  }
}
img.sales-logo {
  width: 75px;
  height: auto;
  position: absolute;
  top: 0px;
  
}

.sales-links {
  padding: 10px 20px;
  @include span-columns(12);
  @include shift(0);
  }


.sales-types, .ads-types {
   float: left;
   width: 100%;
}

.sales-content {
    @include outer-container;
    padding: 20px;

    a {
      @include dark-font;
      color: $blue;
      @include gill-book;
    }

    .sales-intro {
      @include white-font;
      @include span-columns(12);
      padding-top: 50px;
      padding-bottom: 50px;

    }

    .sales-group {
      background: #eee;

      margin-bottom: 10px;

      border-radius: 3px;
      h4 {
        padding-top:5px;
        text-align: center;
        font-size: 1em;
        @include semi-font;
      }
    }



    .sales-item {
      // @include transition (padding 0.1s ease-in-out);
      float: left;
      @include span-columns(12);
      margin-bottom: 10px;
      
      padding-left: 20px;
      padding-right: 20px;

      i {
        margin-right: 10px;
      }

      a {
        @include gill-book;
        color: $blue-d1;
        font-size: 1.2em;
        &:hover {
        color: $blue;
        }
      }
      h3 {
        @include white-font;
        font-size: 1.6em;
        padding-left: 20px;
      }
      p {
        font-size: 0.8em;
        @include white-font;
        padding-left:20px;
        
      }

      p.info {
        @include dark-font;
        font-size: 1em;
      }
    }

}





