<div class="functions-container">
<span class="function-arrow-down"></span>
  <a id="hvordan"></a> 

  <div class="functions-content">

    <a id="hvordan"></a>


  	<div class="single-function">
            <div class="function-image shifter">
        <img src="/images/icon-computer.png"/>
      </div>
  		<div class="function-text">

  			<h3>Administrer på nett</h3><br/>
  			<p>Du har selv kontrollen over arrangementene dine og kan til enhver tid opprette, endre eller publisere arrangementene dine. Du kan bruke sidene dine hos oss som salgsportal eller kombinere det med dine eksisterende hjemmesider for å nå ut til ditt publikum. Vi ønsker å gi deg som arrangør kontroll og oversikt for å kunne holde et så bra arrangement som mulig!</p>
  		</div>

  	</div>

    <div class="arrower"><img src="images/arrow-rtol.png" /></div>


        <div class="single-function">
        
      <div class="function-text shifter">
        <h3>Ta betalt på nett</h3><br/>
        <p>Vi har integrerte betalingsløsninger som gjør det enkelt og trygt for deg å ta betalt for arrangementet. Vi samarbeider med noen av de største betalingsformidlerne i Norge for å sikre pengehåndteringen. Du får jevnlige utbetalinger basert på salgene dine. Trygt og enkelt både for deg og sluttbruker.</p>
        </div>
        <div class="function-image">
        <img src="/images/icon-money.png"/>
      </div>
      
    </div>

    <div class="arrower"><img src="images/arrow-ltor.png" /></div>

  	<div class="single-function">
            <div class="function-image shifter">
        <img src="/images/icon-stats.png"/>
      </div>
  		<div class="function-text">
  			<h3>Salg og deltagere i sanntid</h3><br/>
  			<p>Du har til enhver tid oversikt over salgstallene dine i vår løsning og kan enkelt følge med på utviklingen. Deltagerlister er alltid tilgjengelig og kan lastes ned i excel format når som helst. </p>
  		</div>

  	</div>

    <div class="arrower"><img src="images/arrow-rtol.png" /></div>



  	<div class="single-function">

  		<div class="function-text shifter">
  			<h3>Få tilsendt rapporter</h3><br/>
  			<p>Vi sender deg ferdig utfylte regnskapsdokumenter sammen med alle utbetalinger slik at det er enkelt for deg å holde oversikt samtidig som du alltid har gyldige dokumentasjon på dine salg.</p>	
  		</div>
                <div class="function-image">
        <img src="/images/icon-papers.png"/>
      </div>
  	</div>


    <div class="arrower"><img src="images/arrow-ltor.png" /></div>

  	<div class="single-function">
                <div class="function-image shifter">
        <img src="/images/icon-checkin.png"/>
      </div>
  		<div class="function-text">
  			<h3>Effektivt innslipp</h3><br/>
  			<p>Ved å laste ned vår "Hoopla Admin" app fra iOS App Store vil mobilen din fungere som en billettscanner. I applikasjonen får du oversikt over antall salg og hvor mange som er kommet mens du scanner. For mindre arrangementer kan du selvfølgelig bruke deltagerlisten som et enkelt verktøy for innslipp.</p>	
  		</div>

  	</div>


  </div>
</div>