
<div class="about-container">
<a id="omoss"></a>
  <div class="about-content">

  <div class="about-text">
  <h2>Om Hoopla</h2><br/>
  	<p>

  	Hoopla AS ble opprettet høsten 2011 etter flere selvopplevde episoder med vansklige og lite nyskapende billettløsninger. Vi hadde lyst til å gjøre noe med dette, lage et system som kunne håndtere de fleste arrangementer på en måte som gjorde det enklere for arrangørene. Hoopla ønsker å være med å bidra til at arrangementet blir bedre, gjøre det enklere for arrangører å holde gode arrangementer.<br/><br/>
  	September 2012 gikk Adresseavisen og Bergens Tidende inn på eiersiden i Hoopla. Dette bidrar til nye spennende produkter for arrangører og en økt kunnskap om markedet for Hoopla.<br/><br/>
  	Hoopla har tidligere vunnet Venture Cup Nasjonalt og mottatt stipender fra HiST, Discovery og Innovasjon Norge.	

	</p>
	</div>
	<div class="about-users">
	<h2>Hvem er vi?</h2><br/>
		<div class="user-image">
			<img src="images/user-knut.jpg" />
			<h4>Knut Hellik Kvale</h4>
			<p>Daglig leder</p>
		</div>

		<div class="user-image">
			<img src="images/user-torkil.jpg" />
			<h4>Torkil Gustavsen</h4>
			<p>Utviklingsansvarlig</p>
		</div>

		<div class="user-image">
			<img src="images/user-eirik.jpg" />
			<h4>Eirik Smedsrud</h4>
			<p>Designer</p>
		</div>

		<div class="user-image">
			<img src="images/user-havard.jpg" />
			<h4>Håvard Lindset</h4>
			<p>Systemutvikler</p>
		</div>

		<div class="user-image">
			<img src="images/user-aashild.jpg" />
			<h4>Åshild Skarra</h4>
			<p>Kontormedarbeider</p>
		</div>

		<div class="user-image">
			<img src="images/user-oystein.jpg" />
			<h4>Øystein Tandberg</h4>
			<p>Systemutvikler</p>
		</div>

		<div class="user-image">
			<img src="images/user-magnus.jpg" />
			<h4>Magnus Thrap</h4>
			<p>Systemutvikler</p>
		</div>

		<div class="user-image">
			<img src="images/user-emil.jpg" />
			<h4>Emil Grønnbeck</h4>
			<p>Systemutvikler</p>
		</div>

		<div class="user-image">
			<img src="images/user-jonas.png" />
			<h4>Jonas Svarvaa</h4>
			<p>Systemutvikler</p>
		</div>	
	</div>


  </div>
</div>
  