<div class="about-container">
  	<div class="about-content">
	  <div class="about-text">
	 	<br/><br/>
	 		<h1><i class="icon-cancel-circled test-hover"></i></h1>
		<br/><br/>
	  </div>
	</div>
</div>
