


<div class="price-container">
<span class="price-arrow-down"></span>
<a id="priser"></a>
  <div class="price-content">

<!--   <div class="price-table">
  <img src="images/icon-nomoney.png" />

  </div> -->

<!--   	<div class="price-table">
  		<img src="images/icon-nomoney.png" />
  	</div> -->
  	<div class="price-rip-top"><img src="images/rip-top.png" /></div>
    <div class="price-text">
    <h2>Ingen avgift for deg som arrangør!</h2><br/>
    
    <h4>Tjenesteavgiften er mellom 3-5% avhengig av billettpris og betales av sluttbruker</h4>
    <br/>
    <p>For arrangører koster det ingenting å benytte seg av Hoopla, da det er billettkjøper som betaler tjenesteavgiften Hoopla tar for tjenesten. Det legges på en avgift i størrelsesorden 3-5% avhengig av billettprisen. Tjenesteavgiften går til kortinnløser, betalingsformidler og videre drift av Hoopla. For å lese mer om hvordan pristabellen er satt opp les her.
   
  </p>
    </div>
    <div class="price-rip-bottom"><img src="images/rip-bottom.png" /></div>
  </div>
</div>
