

<div class="quotes-container">

	<a id="referanser"></a>
		<div class="quotes-content">

		<div class="slides-container">
		<h4>VÅRE KUNDER SIER:</h4>	
		<div id="slides">

				<div class="single-quote">
					<img src="images/logo-bedrift.png" />
					<p class="quote">"Hoopla billett system er enkelt å bruke både for arrangør og kjøper. Dette har gjort hverdagen som arrangør mye lettere og vi bruker minimalt med tid på påmelding og oppfølging"<br/><br/>
					<span class="quote-signoff">- BEDRIFTSIDRETTEN</span></p>
				</div>

				<div class="single-quote">
					<img src="images/logo-garage.png" />
					<p class="quote">"Systemet er lett og oversiktlig å bruke og brukervennligheten er suveren. Så langt har vi bare fått gode tilbakemeldinger fra våre kunder"<br/><br/>
					<span class="quote-signoff">- GARAGE</span></p>
				</div>

				<div class="single-quote">
					<img src="images/logo-korsvika.png" />
					<p class="quote">"Vi opplever Hoopla som en veldig oversiktlig billettløsning sett både fra Administrator som setter opp forestillingene i Hoopla, og fra Billettluka som skanner og kontrollerer billetter"<br/><br/>
					<span class="quote-signoff">- KORSVIKASPILLET</span></p>
				</div>

				<div class="single-quote">
					<img src="images/logo-hitra.png" />
					<p class="quote">"Hoopla er en brukervennelig billetteringsløsning med enkel administrasjon og god oversikt for sluttbrukerne. Vi kan trygt anbefale Hoopla til andre"<br/><br/>
					<span class="quote-signoff">- HITRA KOMMUNE</span></p>
				</div>

				<div class="single-quote">
					<img src="images/logo-barnas.png" />
					<p class="quote">"Enkelt og brukervennelig med god oversikt over salgstall. Vi har allerede booket dem for 2014 og ser frem til videre samarbeid"<br/><br/>
					<span class="quote-signoff">- BARNAS SKIDAG</span></p>
				</div>

				<div class="single-quote">
					<img src="images/logo-vinpuls.png" />
					<p class="quote">"Hoopla har gitt meg svært god  oversikt og kontroll over billettsalget til VinPuls-arrangementene. Og de over 3000 medlemmene jubler over en ordning som gir alle medlemmer mulighet til å være først i køen"<br/><br/>
					<span class="quote-signoff">- VINPULS</span></p>
				</div>


			</div>

		</div>

		<div class="partners">
			<h4>SAMARBEIDSPARTNERE</h4>
			<img src="images/logo-partners.png" />
		</div>


	<!-- <h2 class="headline">Noen kunder</h2>
		<div class="quotes-new">
			<img src="images/bedriftsidretten.png" style="width:100%; height:auto" />
			<div class="quote-text-new">

				<h3>Bedriftsidretten</h3><br/>
				<p>Bedriftsidretten holder gjevnlige kurs innen alt fra løping, sykling og styrke til fotokurs og mental trening. De har avholdt over 50 kurs og seminarer med Hoopla.</p>
				<br/>
				<p class="quote">"Hoopla billett system er enkelt å bruke både for arrangør og sluttbruker. Dette har gjort hverdagen som arrangør mye lettere og vi bruker minimalt med tid på påmelding og oppfølging"</p>
			</div>
		</div>

		<div class="quotes-new">
			<img src="images/korsvikaspillet.png" style="width:100%; height:auto" />
			<div class="quote-text-new">
				<h3>Korsvikaspillet</h3><br/>
				<p>Korsvikaspillet er et historisk sagaspill som blir framført i Korsvika på Lade i Trondheim. Korsvikaspillet solgte i 2013 over 2500 billetter gjennom Hoopla. 550 deltagere ble sluset inn til spelområdet ved hjelp av Hooplas innslipps-app under hver forestilling</p>
				<br/>
				<p class="quote">"Vi opplever Hoopla som en veldig oversiktlig billettløsning sett både fra Administrator som setter opp forestillingene i Hoopla, og fra Billettluka som skanner og kontrollerer billetter"</p>
			</div>
		</div>

		<div class="quotes-new">
			<img src="images/garage.png" style="width:100%; height:auto" />
			<div class="quote-text-new">
				<h3>Garage</h3><br/>
				<p>Garage er en av de mest populære utestedene i Bergen med over 20 års fartstid. De har holdt over 15 arrangementer med Hoopla og bruker bruker mobil-appen aktivt for å effektivisere innslippet.</p>
				<br/>
				<p class="quote">"Systemet er lett og oversiktlig å brukeog brukervennligheten er suveren. Så langt har vi bare fått gode tilbakemeldinger fra våre kunder"</p>
			</div>
		</div> -->
	</div>
</div>

