<a id="top"></a>	
<div class="hero-container">
  <div class="hero-content">
	 <div class="hero-element">
		

	<div class="hero-text">
	<h2>Ta betalt for billettene dine på nett!</h2>
	
	<p>Hoopla er en nettbasert løsning som lar deg ta betalt for arrangementet ditt på en enkel og trygg måte. Vi løser alt fra salg til innslipp og regnskapsdokumenter. Registrer deg og ha arrangementet ute for salg innen 5 minutter, det koster ingenting for deg som arrangør!</p>

	<a href="http://users.hoopla.no/signup" class="btn"><i class="icon-user-add"></i>Registrer deg som arrangør</a>
	<br/>

	<a class="muted" href="mailto:hei@hoopla.no">Eller kontakt oss</a>

		</div>



		</div>
		<div class="screenshots">
			<%= image_tag 'screenshots-05.png' %>
		</div>
	</div>
</div>
  