<a id="top"></a>	
<div class="hero-container">
  <div class="hero-content">
	 <div class="hero-element">
		

	<div class="hero-text">
	<h2>En <strong>enklere</strong> måte å arrangere <strong>festivalen</strong> på!</h2>
	<p>Hoopla er en nettbasert løsning som lar deg arrangere festivalen på en enkel og sikker måte. Du administrerer arrangementer, billetter og innslipp i vårt system. Etter arrangementet får du ferdig utfylte regnskapsdokumenter. Ta kontakt så finner vi ut hvordan vi best kan hjelpe deg!</p>


	<a href="mailto:hei@hoopla.no" class="btn"><i class="icon-ticket"></i>Ta kontakt</a>
	<br/>

	<a class="muted" href="http://users.hoopla.no/signup">Eller registrer deg</a>

		</div>



		</div>
				<div class="screenshots">
		<img src="images/screenshots-05.png" />
		</div>
	</div>
</div>
  