<a id="top"></a>	
<div class="hero-container">
  <div class="hero-content">
	 <div class="hero-element">
		

	<div class="hero-text">
	<h2>En <strong>sikker</strong> og <strong>enkel</strong> måte å arrangere festivalen på!</h2>
	
	<p>Hoopla er en nettbasert løsning som lar deg arrangere festivalen din på en enkel og trygg måte. Vi løser alt fra salg til innslipp og regnskapsdokumenter. Ta kontakt så finner vi en god løsning for festivalen din!</p>

	<a href="mailto:hei@hoopla.no" class="btn"><i class="icon-ticket"></i>Kontakt oss</a>
	<br/>
	<a class="muted" href="http://users.hoopla.no/signup">Eller registrer deg</a>

		</div>



		</div>
				<div class="screenshots">
		<img src="images/screenshots-05.png" />
		</div>
	</div>
</div>
  