<div class="footer-container">
	<div class="footer-content">
	<div class="footer-element-container">
		<div class="footer-element">
		<h4>Informasjon</h4>
		<a href="http://support.hoopla.no/entries/22996022-priser">Priser</a><br/>
        <a href="http://support.hoopla.no/entries/23013747-api-skreddersom">API Skreddersøm</a><br/>
        <a href="http://support.hoopla.no/entries/22996182-vilkar-for-arrangor">Avtaleverk Arrangør</a></br/>
        <a href="http://support.hoopla.no/entries/23015656-vilkar-billettkjoper">Avtaleverk Sluttbruker</a><br/>
        <a href="http://support.hoopla.no/entries/22998251-personvern-vilkar">Personvern vilkår</a><br/>

		</div>

		<div class="footer-element">
		<h4>Support</h4>
		  <a href="http://support.hoopla.no/home">Supportsider</a><br/>
                <a href="http://support.hoopla.no/entries/23015506-ofte-stilte-sporsmal">FAQ Billettkjøper</a><br/>
                <a href="mailto:support@hoopla.no">support@hoopla.no</a><br/>
		</div>

<!-- 		<div class="footer-element">
		<h4>Arrangementstyper</h4>
		  <a href="#">Festival</a><br/>
		  <a href="#">Spel</a><br/>
		  <a href="#">Konsert</a><br/>
		  <a href="#">Kurs/Seminar</a><br/>
		  <a href="#">Idrett</a><br/>
		  <a href="#">Annet</a><br/>
		</div>
 -->

		<div class="footer-element">
		<h4>Kontakt</h4>
		  <a href="mailto:support@hoopla.no">support@hoopla.no</a><br/>
          <a href="http://www.facebook.com/hooplabilletter">Facebook</a><br/>
                         <a href="http://www.twitter.com/hooplabilletter">Twitter</a><br/>
		</div>

		<div class="footer-element">
		<h4>Hoopla</h4>
		<a href="https://users.hoopla.no/login">Logg inn</a><br/>
		<a href="https://users.hoopla.no/signup">Registrer deg</a><br/><br/>
			<div class="createsend-button" style="height:27px;display:inline-block;" data-listid="i/C2/68D/9D1/3729E193D41547D7">
			</div>
		<script type="text/javascript">(function () { var e = document.createElement('script'); e.type = 'text/javascript'; e.async = true; e.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://btn.createsend1.com/js/sb.min.js?v=2'; e.className = 'createsend-script'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(e, s); })();</script>
		</div>

<!-- 		<div class="footer-element blobber">
		<img src="images/blobber.png" />
		</div> -->
	</div>

	<div class="footer-bottom">
	<p>Hoopla AS - Kjøpmannsgata 5 7013 Trondheim - hei@hoopla.no - Tlf 73533254</p>



	</div>


	</div>
</div>
