<a id="top"></a>	
<div class="hero-container">
  <div class="hero-content">
	 <div class="hero-element">
		

	<div class="hero-text">
	<h2>Ta <strong>forhåndsbetalt</strong> for <strong>konserten</strong> din!</h2>
	
	<p>Hoopla er en nettbasert løsning som lar deg ta betalt for konserten din på en enkel og trygg måte. Vi løser alt fra salg til innslipp og regnskapsdokumenter. Registrer deg og ha konserten ute for salg innen 5 minutter, det koster ingenting for deg som arrangør!</p>

	<a href="http://users.hoopla.no/signup" class="btn"><i class="icon-ticket"></i>Registrer deg som arrangør</a>
	<br/>

	<a class="muted" href="mailto:hei@hoopla.no">Eller kontakt oss</a>

		</div>



		</div>
				<div class="screenshots">
		<img src="images/screenshots-05.png" />
		</div>
	</div>
</div>
  