<a id="top"></a>	
<div class="hero-container">
  <div class="hero-content">
	 <div class="hero-element">
		

	<div class="hero-text">
	<h2>En <strong>sikker</strong> og <strong>enkel</strong> måte å arrangere konserten på!</h2>
	
	<p>Hoopla er en nettbasert løsning som lar deg arrangere festivalen din på en enkel og trygg måte. Vi løser alt fra salg til innslipp og regnskapsdokumenter. Ta kontakt så finner vi en god løsning for festivalen din!</p>

	<a href="http://users.hoopla.no/signup" class="btn"><i class="icon-ticket"></i>Registrer deg som arrangør</a>
	<br/>

	<a class="muted" href="mailto:hei@hoopla.no">Eller kontakt oss</a>

		</div>



		</div>
				<div class="screenshots">
		<img src="images/screenshots-05.png" />
		</div>
	</div>
</div>
  