<div class="top-menu-container">
	<div class="top-menu-content">
		<div class="top-menu-center">
			<a href="#top"><img src="images/logo-red.png" class="top-brander"/></a>
		</div>
		<div class="top-menu-center-mobile">
			<a href="#top"><img src="images/logo-red-bg.png" class="top-brander"/></a>
		</div>

		<div class="top-menu-right">
			<ul class="menu">

				<li class="internal"><a href="#hvordan"><i class="icon-info-circled"></i>Funksjoner</a></li>
				<li class="internal"><a href="#omoss"><i class="icon-users"></i>Om Hoopla</a></li>
				<li><a href="http://users.hoopla.no/login" class="user-login"><i class="icon-login"></i>Logg inn</a></li>	
			</ul>				
		</div>

	</div>
</div>
