<div class="top-menu-container">
	<div class="top-menu-content">
		<div class="top-menu-center">
			<a href="#top"><img src="images/logo-red.png" class="top-brander"/></a>
		</div>
		<div class="top-menu-center-mobile">
			<a href="#top"><img src="images/logo-red-bg.png" class="top-brander"/></a>
		</div>
		<!-- 
		<div class="top-menu-left">
				
				<a href="#" class="drop-menu event-chooser">Hoopla<i class="icon-down-dir"></i></a>
				<ul class="dropdown-menu event-menu">
					<li>Festival</li>
					<li>Kurs og seminar</li>
					<li>Spel</li>
					<li>Idrettsarrangementer</li>
				</ul>	
		</div> -->
		
		<div class="top-menu-right">
			<ul class="menu">
<!-- 				
				<li class="drop-menu"><a href="#" ><i class="icon-megaphone"></i>Arrangementstype</a></li>
					<ul class="dropdown-menu">
						<li>Festival</li>
						<li>Kurs og seminar</li>
						<li>Spel</li>
						<li>Idrettsarrangementer</li>
					</ul>	 -->
	<!-- 				<li><a href="#" class="dropper-test">Hello tester</a></li>
						<ul class="dropper-list">
							<li>Oner</li>
							<li>Twice</li>
							<li>Thrice</li>
						</ul> -->		
				<li><a href="#hvordan"><i class="icon-info-circled"></i>Funksjoner</a></li>
				<!-- <li><a href="#referanser"><i class="icon-chat"></i>Referanser</a></li> -->
				<!-- <li><a href="#priser"><i class="icon-basket"></i>Priser</a></li> -->
				<li><a href="#omoss"><i class="icon-users"></i>Om Hoopla</a></li>
				<li><a href="http://users.hoopla.no/login" class="user-login"><i class="icon-login"></i>Logg inn</a></li>	
			</ul>				
		</div>

<!-- 		<div class="top-menu-user">
			<a href="#" class="drop-menu user-chooser"><i class="icon-user"></i><i class="icon-down-dir"></i></a>
			<ul class="dropdown-menu user-menu">
			<li><i class="icon-login"></i>Logg inn</li>
			<li><i class="icon-pencil"></i>Registrer deg</li>
			</ul>
		</div> -->

	</div>
</div>
