<a id="top"></a>	
<div class="hero-container">
  <div class="hero-content">
	 <div class="hero-element">
		

	<div class="hero-text">
	<h2>Enkel og effektiv løsning for påmelding!</h2>
	
	<p>Hoopla er en nettbasert løsning som lar deg håndtere påmelding på en enkel måte. Vi løser alt fra opprettelse av arrangement til skreddersydde skjemaer og deltagerlister. Registrer deg og ha arrangementet klart for deltagere innen 5 minutter, det koster ingenting for deg som arrangør!</p>

	<a href="http://users.hoopla.no/signup" class="btn"><i class="icon-user-add"></i>Registrer deg som arrangør</a>
	<br/>

	<a class="muted" href="mailto:hei@hoopla.no">Eller kontakt oss</a>

		</div>

		</div>
				<div class="screenshots">
		<%= image_tag 'screenshots-05.png' %>
		</div>
	</div>
</div>
  