<div class="above-menu-container">
	<a id="top"></a>
	<div class="above-menu-content">
		<div class="top-menu">
			<ul class="above-menu">
				<li><a href="">Registrer deg</a></li>
				<li>eller</li>
				<li><a href="">Logg inn</a></li>
				<li><i class="icon-cancel-circled"></i></li>
			</ul>
		</div>
	</div>
</div>